<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/image/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img class="potrait" src="/image/param.jpg" alt="" >
    </div>

    {{>footer}}
  </body>
</html>
